List

In [ ]:
l = []

In [2]:
print(type(l))

<class 'list'>

In [10]:
l1 = [10,20,30,45]    #List of integer numbers

In [9]:
l2 = [10.57,20.32,30.567,45.7]    #List of float numbers

In [8]:
l3 = ["python","programming","language"]         #List of strings

In [6]:
l4 = ["python",11.2,[25,30,"movie"],[36.5,2+3j,92]]       #Nested list

In [4]:
l5 = [200,35.7,20+5j,True,"python"]      #List of mixed data types

In [7]:
l6 = ["language",8500,[25,30,"movie"],[2+3j,True],{"john","David"},{"kishore":75,"rajesh":92,"harish":91}]

In [9]:
len(l6)

5

In [10]:
l6[3]

[(2+3j), True]

In [11]:
l6[4]

{'David', 'john'}

In [12]:
l6[4][0]

TypeError: 'set' object is not subscriptable

In [14]:
l6[5]

{'kishore': 75, 'rajesh': 92, 'harish': 91}

In [21]:
l6[5]["harish"]

91

List Slicing

In [23]:
l6

['language',
 8500,
 [25, 30, 'movie'],
 [(2+3j), True],
 {'David', 'john'},
 {'kishore': 75, 'rajesh': 92, 'harish': 91}]

In [24]:
l6[:]

['language',
 8500,
 [25, 30, 'movie'],
 [(2+3j), True],
 {'David', 'john'},
 {'kishore': 75, 'rajesh': 92, 'harish': 91}]

In [25]:
l6[-1:-5:-1]

[{'kishore': 75, 'rajesh': 92, 'harish': 91},
 {'David', 'john'},
 [(2+3j), True],
 [25, 30, 'movie']]

In [27]:
l6[-5:-1]

[8500, [25, 30, 'movie'], [(2+3j), True], {'David', 'john'}]

In [28]:
l4

['python', 11.2, [25, 30, 'movie'], [36.5, (2+3j), 92]]

In [29]:
l4[1::2]

[11.2, [36.5, (2+3j), 92]]

In [30]:
l4[::2]

['python', [25, 30, 'movie']]

Add, Remove & Change items

In [94]:
l5

[200, 35.7, (20+5j), True, 'python']

In [95]:
l5.append(25)

In [96]:
l5

[200, 35.7, (20+5j), True, 'python', 25]

In [97]:
l5.append(20,30)

TypeError: list.append() takes exactly one argument (2 given)

In [98]:
l5.append([20,30])

In [99]:
l5

[200, 35.7, (20+5j), True, 'python', 25, [20, 30]]

In [100]:
l5.append("sri")

In [102]:
l5

[200, 35.7, (20+5j), True, 'python', 25, [20, 30], 'sri']

In [104]:
l5.append(20+30j)

In [105]:
l5

[200, 35.7, (20+5j), True, 'python', 25, [20, 30], 'sri', (20+30j)]

In [106]:
l5.append(True)

In [107]:
l5

[200, 35.7, (20+5j), True, 'python', 25, [20, 30], 'sri', (20+30j), True]

In [108]:
l5.append((25.2,30j))

In [109]:
l5

[200,
 35.7,
 (20+5j),
 True,
 'python',
 25,
 [20, 30],
 'sri',
 (20+30j),
 True,
 (25.2, 30j)]

In [11]:
l4

['python', 11.2, [25, 30, 'movie'], [36.5, (2+3j), 92]]

In [12]:
l4.extend(25)

TypeError: 'int' object is not iterable

In [13]:
l4.extend((25,30))

In [14]:
l4

['python', 11.2, [25, 30, 'movie'], [36.5, (2+3j), 92], 25, 30]

In [18]:
l4.extend([25,["python",30j]])

In [19]:
l4

['python',
 11.2,
 [25, 30, 'movie'],
 [36.5, (2+3j), 92],
 25,
 30,
 [25, ['python', 30j]],
 25,
 ['python', 30j]]

In [20]:
l4.extend("hello")

In [21]:
l4

['python',
 11.2,
 [25, 30, 'movie'],
 [36.5, (2+3j), 92],
 25,
 30,
 [25, ['python', 30j]],
 25,
 ['python', 30j],
 'h',
 'e',
 'l',
 'l',
 'o']

In [22]:
l4.extend(["hello"])

In [23]:
l4

['python',
 11.2,
 [25, 30, 'movie'],
 [36.5, (2+3j), 92],
 25,
 30,
 [25, ['python', 30j]],
 25,
 ['python', 30j],
 'h',
 'e',
 'l',
 'l',
 'o',
 'hello']

In [24]:
l1

[10, 20, 30, 45]

In [26]:
l1.insert(15,20)

In [27]:
l1

[10, 20, 30, 45, 20]

In [30]:
l1[4]

20

In [43]:
l1.insert(-3,30+5j)

In [47]:
l1

[10, 20, (30+5j), 30, 45, 20]

In [48]:
l4

['python',
 11.2,
 [25, 30, 'movie'],
 [36.5, (2+3j), 92],
 25,
 30,
 [25, ['python', 30j]],
 25,
 ['python', 30j],
 'h',
 'e',
 'l',
 'l',
 'o',
 'hello']

In [49]:
l4.remove("hello")

In [50]:
l4

['python',
 11.2,
 [25, 30, 'movie'],
 [36.5, (2+3j), 92],
 25,
 30,
 [25, ['python', 30j]],
 25,
 ['python', 30j],
 'h',
 'e',
 'l',
 'l',
 'o']

In [51]:
l4.pop()

'o'

In [52]:
l4

['python',
 11.2,
 [25, 30, 'movie'],
 [36.5, (2+3j), 92],
 25,
 30,
 [25, ['python', 30j]],
 25,
 ['python', 30j],
 'h',
 'e',
 'l',
 'l']

In [53]:
l4.pop(-4)

'h'

In [54]:
l4

['python',
 11.2,
 [25, 30, 'movie'],
 [36.5, (2+3j), 92],
 25,
 30,
 [25, ['python', 30j]],
 25,
 ['python', 30j],
 'e',
 'l',
 'l']

In [55]:
del l4[4]

In [56]:
l4

['python',
 11.2,
 [25, 30, 'movie'],
 [36.5, (2+3j), 92],
 30,
 [25, ['python', 30j]],
 25,
 ['python', 30j],
 'e',
 'l',
 'l']

In [57]:
del l3

In [58]:
l3

NameError: name 'l3' is not defined

In [64]:
l2.clear()

In [65]:
l2

[]

In [59]:
l5

[200, 35.7, (20+5j), True, 'python']

In [60]:
l5[2] = True

In [61]:
l5

[200, 35.7, True, True, 'python']

In [62]:
l5[-2] = 35

In [63]:
l5

[200, 35.7, True, 35, 'python']

Copy List

In [66]:
l7 = [10,25,30.5,25+36j]

In [67]:
l2 = l7.copy()

In [68]:
l2

[10, 25, 30.5, (25+36j)]

In [73]:
print(id(l2))
print(hex(id(l2)))

2039276958848
0x1dace60f480

In [74]:
print(id(l7))
print(hex(id(l7)))

2039276985728
0x1dace615d80

In [75]:
l2[3]="python"

In [76]:
l2

[10, 25, 30.5, 'python']

In [ ]:
l7                     #copy of list won't be impacted due to changes made on original list

[10, 25, 30.5, (25+36j)]

Join List

In [78]:
l1

[10, 20, (30+5j), 30, 45, 20]

In [79]:
l2

[10, 25, 30.5, 'python']

In [82]:
l3= l1 + l2
l3

[10, 20, (30+5j), 30, 45, 20, 10, 25, 30.5, 'python']

In [83]:
l2.extend(l1)

In [84]:
l2

[10, 25, 30.5, 'python', 10, 20, (30+5j), 30, 45, 20]

List Membership

In [85]:
l1

[10, 20, (30+5j), 30, 45, 20]

In [86]:
30 in l1

True

In [87]:
20 not in l1

False

In [88]:
if True in l1:
    print("True is present in the list l1")
else:
    print("True is not present in the list l1")

True is not present in the list l1

Reverse & Sort List

In [89]:
l2

[10, 25, 30.5, 'python', 10, 20, (30+5j), 30, 45, 20]

In [90]:
l2.reverse()

In [91]:
l2

[20, 45, 30, (30+5j), 20, 10, 'python', 30.5, 25, 10]

In [92]:
l2[::-1]

[10, 25, 30.5, 'python', 10, 20, (30+5j), 30, 45, 20]

In [93]:
l2.sort()

TypeError: '<' not supported between instances of 'complex' and 'int'

In [95]:
l8 = [10,25,36.5,24,1250,96]

In [96]:
l8.sort()

In [97]:
l8

[10, 24, 25, 36.5, 96, 1250]

In [99]:
l8.sort(reverse=True)
l8

[1250, 96, 36.5, 25, 24, 10]

In [101]:
l8.append("world")
l8

[1250, 96, 36.5, 25, 24, 10, 'world', 'world']

In [102]:
l8.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [105]:
l9 = [10,25,36.5,97.2,0.05]

In [ ]:
sorted(l9)         #Returns a new sorted list where original list doesn't change

[0.05, 10, 25, 36.5, 97.2]

In [107]:
l9

[10, 25, 36.5, 97.2, 0.05]

Loop through a list

In [108]:
for i in l9:
    print(i)

10
25
36.5
97.2
0.05

In [110]:
for i in enumerate(l9):
    print(i)

(0, 10)
(1, 25)
(2, 36.5)
(3, 97.2)
(4, 0.05)

Count

In [115]:
l2

[20, 30, 45, (30+5j), 20, 10, 'python', 30.5, 25, 10]

In [116]:
l2.count(20)

2

In [117]:
l2.count("python")

1

In [118]:
l2.count("world")

0

All / Any

The all() method returns:
- True : If all elements in the list are true
- False : If any element in the list is False

The any() method returns:
- True : If any elements in the list is true
- False : if not returns False

In [119]:
l10 = [20,30,5,True,None]

In [120]:
all(l10)

False

In [121]:
any(l10)

True

In [122]:
l11 = [False,0,None]

In [123]:
all(l11)

False

In [124]:
any(l11)

False

Index

In [125]:
l10

[20, 30, 5, True, None]

In [127]:
l10.index(5)

2

In [129]:
l10.index(None)

4