Print Statements

In [1]:
a=10
b=20
print(a)
print(b)

10
20

In [2]:
print(10)
print(20.25)
print("pyhton")
print(10,20,'pyhton')

10
20.25
pyhton
10 20 pyhton

print result with string

In [3]:
num1 =20
num2 =30
add = num1 + num2
print('The addition of',num1,'and',num2,'is=',add)

The addition of 20 and 30 is= 50

In [10]:
name = 'python'
age = 20
city = 'vij'
print("MY name is",name,"and i am",age,"years old from",city)

MY name is python and i am 20 years old from vij

In [6]:
num1 = 20
num2 = 30
add = num1+num2
print("The addition of {} and {} is= {}".format(num1,num2,add))

The addition of 20 and 30 is= 50

In [11]:
num1 = 100
num2 = 30
num3 = 300
avg = (num1+num2+num3)/3
avg1 = round((num1+num2+num3)/3,2)
print("The average of {},{} and {} is= {} or {}".format(num1,num2,num3,avg,avg1))

The average of 100,30 and 300 is= 143.33333333333334 or 143.33

In [1]:
num1 = 155
num2 = 30
add = num1 +num2
print(f"The addition of {num1} and {num2} is= {add}")

The addition of 155 and 30 is= 185

In [ ]:
num1 = 105
num2 = 200
add = num1 + num2                   #All these print statements give the same output
print("The addition of",num1,"and",num2,"is=",add)
print("The addition of {} and {} is= {}".format(num1,num2,add))
print(f"The addition of {num1} and {num2} is= {add}")

The addition of 105 and 200 is= 305
The addition of 105 and 200 is= 305
The addition of 105 and 200 is= 305

end statement

In [4]:
print("hello")
print("good morning")

hello
good morning

In [6]:
print("hello", end=" ")
print("good morning")

hello good morning

Separator

In [ ]:
print("hello","hai","how are you",sep='&')

hello&hai&how are you

In [ ]:
print("hello","hai","how are you",sep=' ')

hello hai how are you

In [ ]:
print(3,'.')        # . is too far from 3 without separator

3 .

In [13]:
print(3,'.',sep="")      # space is settled b/w dot and 3 by using separator

3.

In [17]:
print(1,2,end="python")
print(3,'.',sep="")

1 2python3.

In [18]:
print(1,2,end=" ")
print(3,'.',sep="")

1 2 3.

Old style string formatting

In [19]:
name = "Allice"
age = 30
print("My name is %s and I am %d years old" %(name,age))

My name is Allice and I am 30 years old

Printing special characters

In [20]:
print("apple\tbanana\tcherry")

apple	banana	cherry