Sets 
- Unordered & unindexed collection of items
- Set elements are unique. Duplicate elements are not allowed
- Set elements are immutable(cannot be changed)
- Set itself is mutable. we can add or remove items from it

Set Creation

In [ ]:
s1 = {}
print(s1)                       #set is represnted with {} but to print empty set we have to use setz()
print(type(s1))

{}
<class 'dict'>

In [3]:
s1 = set()
print(s1)
print(type(s1))

set()
<class 'set'>

In [ ]:
s2 = {10,-5,20,36,6,2}          # set of numbers 
print(s2)
print(type(s2))

{2, 36, 20, 6, 10, -5}
<class 'set'>

In [5]:
len(s2)

6

In [ ]:
s3 = {1,2,5,6,9,2,3,1,-1,-2,-1}       #Duplicate elements are not allowed in sets

In [7]:
s3

{-2, -1, 1, 2, 3, 5, 6, 9}

In [8]:
len(s3)

8

In [ ]:
s4 = {2.5,3.5,4.5,10.5,11.2,-2.5,-5.5}    # set of float 
s4

{-5.5, -2.5, 2.5, 3.5, 4.5, 10.5, 11.2}

In [14]:
s5 = {10,20,(2+3j,2.5),"hello",True}

In [15]:
s5

{((2+3j), 2.5), 10, 20, True, 'hello'}

In [ ]:
s6 = {10,20,{5.5,6},{10,20,-5}}

TypeError: unhashable type: 'set'

In [ ]:
s7 = {2,3,[2.5,3.5]}     # set doesn't allow mutable items inside the set

TypeError: unhashable type: 'list'

Loop through a set

In [18]:
s3

{-2, -1, 1, 2, 3, 5, 6, 9}

In [20]:
for i in s3:
    print(i * i)

1
4
9
25
36
81
1
4

In [21]:
for i in enumerate(s3):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 5)
(4, 6)
(5, 9)
(6, -1)
(7, -2)

Set Membership

In [22]:
s4

{-5.5, -2.5, 2.5, 3.5, 4.5, 10.5, 11.2}

In [23]:
-5.5 in s4

True

In [24]:
10.5 not in s4

False

In [25]:
11.2 in s4

True

Add & Remove Items

In [26]:
s5

{((2+3j), 2.5), 10, 20, True, 'hello'}

In [27]:
s5.add("pyhton")

In [28]:
s5

{((2+3j), 2.5), 10, 20, True, 'hello', 'pyhton'}

In [29]:
s5.add((2+3j,True))

In [30]:
s5

{((2+3j), 2.5), ((2+3j), True), 10, 20, True, 'hello', 'pyhton'}

In [ ]:
s5.add([10,20,30])

TypeError: unhashable type: 'list'

In [ ]:
s5.add(-5,5,6,5)

TypeError: set.add() takes exactly one argument (4 given)

In [ ]:
s5.update([10,20,-5,205])      # adding multiple items to the set

In [35]:
s5

{((2+3j), 2.5), ((2+3j), True), -5, 10, 20, 205, True, 'hello', 'pyhton'}

In [36]:
s5.update("reddy")

In [37]:
s5

{((2+3j), 2.5),
 ((2+3j), True),
 -5,
 10,
 20,
 205,
 True,
 'd',
 'e',
 'hello',
 'pyhton',
 'r',
 'y'}

In [38]:
s5.update(["reddy"])

In [39]:
s5

{((2+3j), 2.5),
 ((2+3j), True),
 -5,
 10,
 20,
 205,
 True,
 'd',
 'e',
 'hello',
 'pyhton',
 'r',
 'reddy',
 'y'}

In [41]:
s5

{((2+3j), 2.5),
 ((2+3j), True),
 -5,
 10,
 20,
 205,
 True,
 'd',
 'e',
 'hello',
 'pyhton',
 'r',
 'reddy',
 'y'}

In [88]:
u1 = {10,20,3,5.5,6}

In [89]:
u2 = {5,6,7,8}

In [90]:
u3 = {11,12,13,14,15}

In [91]:
u3.update(u1,u2)

In [92]:
u3

{3, 5, 5.5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 20}

In [93]:
u1.update([10,20,30],(1,2,3))

In [94]:
u1

{1, 2, 3, 5.5, 6, 10, 20, 30}

In [42]:
s5.remove("r")

In [43]:
s5

{((2+3j), 2.5),
 ((2+3j), True),
 -5,
 10,
 20,
 205,
 True,
 'd',
 'e',
 'hello',
 'pyhton',
 'reddy',
 'y'}

In [44]:
s5.remove('y','e')

TypeError: set.remove() takes exactly one argument (2 given)

In [45]:
s5.remove('y')

In [ ]:
s5.remove('y')        # it will gives error because already 'y' is removed

KeyError: 'y'

In [ ]:
s5.discard('y')    # either the element is present or not discard will not give error.

In [48]:
s5.discard('d','e')

TypeError: set.discard() takes exactly one argument (2 given)

In [49]:
s5

{((2+3j), 2.5),
 ((2+3j), True),
 -5,
 10,
 20,
 205,
 True,
 'd',
 'e',
 'hello',
 'pyhton',
 'reddy'}

In [51]:
s5.discard(2+3j)

In [52]:
s5.remove((2+3j,2.5))

In [53]:
s5

{((2+3j), True), -5, 10, 20, 205, True, 'd', 'e', 'hello', 'pyhton', 'reddy'}

In [54]:
s2

{-5, 2, 6, 10, 20, 36}

In [ ]:
s2.clear()     # Delete all items in the set

In [56]:
print(s2)
print(type(s2))

set()
<class 'set'>

In [58]:
s3

{-2, -1, 1, 2, 3, 5, 6, 9}

In [ ]:
del s3       # delete the set object

In [60]:
s3

NameError: name 's3' is not defined

Copy set

In [62]:
s2 = {10,25,3,-3,2.5,3.6}

In [63]:
s1

set()

In [65]:
s1 = s2.copy()

In [66]:
s1

{-3, 2.5, 3, 3.6, 10, 25}

In [67]:
print(id(s1))
print(hex(id(s1)))

2626804398144
0x26399be3840

In [68]:
print(id(s2))
print(hex(id(s2)))

2626806155744
0x26399d909e0

In [69]:
s1

{-3, 2.5, 3, 3.6, 10, 25}

In [70]:
s1.add("python")

In [71]:
s1

{-3, 10, 2.5, 25, 3, 3.6, 'python'}

In [72]:
s2

{-3, 2.5, 3, 3.6, 10, 25}

In [73]:
s2.add(2+3j)

In [74]:
s2

{(2+3j), -3, 10, 2.5, 25, 3, 3.6}

In [ ]:
s1     # copied set won't be impacted due to changes in original set of s2

{-3, 10, 2.5, 25, 3, 3.6, 'python'}

Set Operations

-- Union

In [76]:
a = {1,2,3,4,5}
b = {4,5,6,7,8,9}
c = {8,9,10,11}

In [ ]:
a | b     #union of a and b (result will be all elements from both the sets without duplicates)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [78]:
c.union(b)

{4, 5, 6, 7, 8, 9, 10, 11}

In [79]:
a | b | c

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [80]:
c.union(a,b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [81]:
a.union(a,b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [110]:
a

{1, 2, 3, 4, 5}

In [112]:
c

{8, 9, 10, 11}

In [113]:
a.update(c)

In [114]:
a

{1, 2, 3, 4, 5, 8, 9, 10, 11}

-- Intersection

In [97]:
a1 = {10,20,30,40,50,60}
b1 = {30,40,50,-60,35}
c1 = {10,50,-60,25,90}

In [ ]:
a1.intersection(b1)     #common items in both sets

{30, 40, 50}

In [99]:
b1.intersection(a1,c1)

{50}

In [100]:
a1 & c1

{10, 50}

In [ ]:
a1.intersection_update(b1)

In [ ]:
a1              #intersection items of a1 and b1 are updated to set a12

{30, 40, 50}

In [103]:
b1

{-60, 30, 35, 40, 50}

In [104]:
c1

{-60, 10, 25, 50, 90}

In [105]:
len(c1)

5

In [106]:
c1.intersection_update(a1)

In [107]:
c1

{50}

In [108]:
len(c1)

1

--Difference

In [120]:
a2 = {1,2,3,4,5}
b2 = {4,5,6,7,8,9}
c2 = {1,8,9,10,11,12}

In [ ]:
a2 - b2   # set of elements that are only in a2 but not in b2

{1, 2, 3}

In [117]:
a2.difference(b2)

{1, 2, 3}

In [118]:
b2-a2

{6, 7, 8, 9}

In [121]:
a2-b2-c2

{2, 3}

In [122]:
b2.difference(a2,c2)

{6, 7}

In [123]:
b2

{4, 5, 6, 7, 8, 9}

In [124]:
len(b2)

6

In [125]:
b2.difference_update(a2,c2)

In [126]:
b2

{6, 7}

In [127]:
len(b2)

2

-- Symmetric Difference

In [128]:
a3 = {1,2,3,4,5}
b3 = {4,5,6,7,8,9}
c3 = {1,8,9,10,11,12}

In [129]:
a3.symmetric_difference(b3)

{1, 2, 3, 6, 7, 8, 9}

In [130]:
c3.symmetric_difference(a3,b3)

TypeError: set.symmetric_difference() takes exactly one argument (2 given)

In [131]:
c3.symmetric_difference(a3)

{2, 3, 4, 5, 8, 9, 10, 11, 12}

In [132]:
a3 ^ c3

{2, 3, 4, 5, 8, 9, 10, 11, 12}

In [133]:
a3

{1, 2, 3, 4, 5}

In [134]:
a3.symmetric_difference_update(b3,c3)

TypeError: set.symmetric_difference_update() takes exactly one argument (2 given)

In [135]:
a3.symmetric_difference_update(b3)

In [136]:
a3

{1, 2, 3, 6, 7, 8, 9}

-- Subset , Superset & Disjoint

In [147]:
a4 = {1,2,3,4,5,6,7,8,9}
b4 = {3,4,5,6,7,8}
c4 = {10,20,30,40}

In [148]:
a4.issubset(b4)

False

In [149]:
a4.issuperset(b4)

True

In [141]:
b4.issubset(a4)

True

In [142]:
c4.isdisjoint(a4)

True

In [143]:
a4.isdisjoint(b4)

False

Other Buitin Functions

In [150]:
f = {1,2,3,-5,-6,7,8,9}

In [157]:
f

{-6, -5, 1, 2, 3, 7, 8, 9}

In [151]:
sum(f)

19

In [152]:
max(f)

9

In [153]:
min(f)

-6

In [154]:
len(f)

8

In [155]:
list(enumerate(f))

[(0, 1), (1, 2), (2, 3), (3, 7), (4, 8), (5, 9), (6, -6), (7, -5)]

In [ ]:
sorted(f)    # default sorting in ascending order

[-6, -5, 1, 2, 3, 7, 8, 9]

In [158]:
sorted(f,reverse=True)

[9, 8, 7, 3, 2, 1, -5, -6]