Tuples

Tuple Creation

In [1]:
tup1 = ()

In [2]:
print(type(tup1))
print(tup1)

<class 'tuple'>
()

In [ ]:
tup2 = (10,20,30,-10,-50)        #tuple of integer numbers 
tup2

(10, 20, 30, -10, -50)

In [ ]:
tup3 = (2.77,-3.55,25.6,3.35)       #tuple of float numbers
print(tup3)

(2.77, -3.55, 25.6, 3.35)

In [5]:
tup4 = ("hello","python","world")    #tuple of strings
tup4

('hello', 'python', 'world')

In [ ]:
tup5 = ("pyhton",2+3j,True,(10,.20,2.5),(10+20j,False))     #Nested tuple
tup5

('pyhton', (2+3j), True, (10, 0.2, 2.5), ((10+20j), False))

In [9]:
tup6 = ("hari",2+9j,[10,25,-36],{2,True,5.5},(20,3,5,5.5),-5,-22)     # Tuple of mixed data types
tup6

('hari', (2+9j), [10, 25, -36], {True, 2, 5.5}, (20, 3, 5, 5.5), -5, -22)

Tuple Indexing

In [10]:
tup2

(10, 20, 30, -10, -50)

In [11]:
tup2[-2]

-10

In [12]:
tup2[0]

10

In [13]:
tup6

('hari', (2+9j), [10, 25, -36], {True, 2, 5.5}, (20, 3, 5, 5.5), -5, -22)

In [15]:
tup6[4][-1]

5.5

In [16]:
tup6[3]

{True, 2, 5.5}

Tuple Slicing

In [17]:
tup5

('pyhton', (2+3j), True, (10, 0.2, 2.5), ((10+20j), False))

In [19]:
tup5[:]

('pyhton', (2+3j), True, (10, 0.2, 2.5), ((10+20j), False))

In [20]:
tup5[::-1]

(((10+20j), False), (10, 0.2, 2.5), True, (2+3j), 'pyhton')

In [21]:
tup5[2:-2]

(True,)

In [22]:
tup6

('hari', (2+9j), [10, 25, -36], {True, 2, 5.5}, (20, 3, 5, 5.5), -5, -22)

In [23]:
tup6[-1:0:-1]

(-22, -5, (20, 3, 5, 5.5), {True, 2, 5.5}, [10, 25, -36], (2+9j))

In [24]:
tup6[-2:1:-1]

(-5, (20, 3, 5, 5.5), {True, 2, 5.5}, [10, 25, -36])

In [25]:
tup6[-3:]

((20, 3, 5, 5.5), -5, -22)

In [27]:
tup6[:-2]

('hari', (2+9j), [10, 25, -36], {True, 2, 5.5}, (20, 3, 5, 5.5))

Remove & Change Items

In [31]:
tup4

('hello', 'python', 'world')

In [32]:
del tup4

In [33]:
tup4

NameError: name 'tup4' is not defined

In [34]:
tup5

('pyhton', (2+3j), True, (10, 0.2, 2.5), ((10+20j), False))

In [35]:
del tup5[0]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
tup5[2] = 10         # Tuple is immutable

TypeError: 'tuple' object does not support item assignment

Loop through a tuple

In [37]:
for i in tup6:
    print(i)

hari
(2+9j)
[10, 25, -36]
{True, 2, 5.5}
(20, 3, 5, 5.5)
-5
-22

In [38]:
for i in enumerate(tup5):
    print(i)

(0, 'pyhton')
(1, (2+3j))
(2, True)
(3, (10, 0.2, 2.5))
(4, ((10+20j), False))

Count

In [39]:
tup = (10,25,36,-10,10,25,9,10)

In [40]:
tup.count(10)

3

In [41]:
tup.count(36)

1

Tuple Memebership

In [44]:
tup5

('pyhton', (2+3j), True, (10, 0.2, 2.5), ((10+20j), False))

In [48]:
2+3j in tup5

True

In [49]:
10+20j in tup5

False

In [50]:
(10+20j,False) in tup5

True

Index Position

In [51]:
tup

(10, 25, 36, -10, 10, 25, 9, 10)

In [52]:
tup.index(36)

2

In [ ]:
tup.index(10)

0

In [54]:
tup.index(9)

6

Sorting

In [55]:
tup

(10, 25, 36, -10, 10, 25, 9, 10)

In [ ]:
sorted(tup)       #Returns new sorted list in ascending order by default

[-10, 9, 10, 10, 10, 25, 25, 36]

In [ ]:
sorted(tup,reverse=True)     # sorting in descending order

[36, 25, 25, 10, 10, 10, 9, -10]